@page "/fetchdata"

<PageTitle>Branch Lifespan</PageTitle>

@using github_branch_lifetime.Data
@inject BranchLifespanService BranchLifespanService

<h1>Average Branch Lifespan</h1>

<p>Immoscout24 Branch Lifespan</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Branch Name</th>
                <th>MergedAt</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var model in data.PullRequests)
            {
                <tr>
                    <td>@model.Title</td>                    
                    <td>@model.Head.Ref</td>                    
                    <td>@model.MergedAt</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataViewModel data;

    protected override async Task OnInitializedAsync()
    {
        data = await BranchLifespanService.GetCurrentBranchLifespan();
    }
}